@model DealModel

@if (Model != null && !Model.IsSuccess)
{
    <span>@Model.Error<br /><br /></span>
}
@if (Model != null && Model.IsSuccess)
{
    <span>Started new deal successfully.<br /><br /></span>
}

<div>
    <button type="button" onclick="location.href='@Url.Action("StartNewDeal", "Deal",new { botId = 9174883 })'">Dot ammr Long</button> 
    &#8194 <button type="button" onclick="location.href='@Url.Action("StartNewDeal", "Deal",new { botId = 9087271 })'">Ada 9087271 Short</button> 
    &#8194 <button type="button" onclick="location.href='@Url.Action("StartNewDeal", "Deal",new { botId = 9057913 })'">Doge Long</button> 
    &#8194 <button type="button" onclick="location.href='@Url.Action("StartNewDeal", "Deal",new { botId = 9174243 })'">Sol Long</button> 
      

</div><br />

